/* Inline styles consolidated here */
.container1 {
    background-color: #0a1a2a;
    color: white;
    font-family: Arial, sans-serif;
    padding: 50px;
}


h1 {
    font-size: 30px;
    margin: 0;
    line-height: 1.2;
    animation: fadeIn 2s ease-out;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.content {
    background-color: #0a1a2a;
    padding: 20px;
    border-radius: 10px;
}

.list-group-item {
    background-color: #0a1a2a;
    border: none;
    padding: 5px 0;
    color: white;
}

.container2 {
    padding: 50px;
}

.mission-image img {
    max-width: 100%;
    border-radius: 15px;
}

.mission-text p {
    text-align: justify;
}

@media (min-width: 992px) { /* For large screens */
    .center {
        flex-wrap: wrap; /* Allow wrapping to new rows */
        justify-content: center; /* Center the cards */
    }
}

.medSubheader{
    color: #161992;
    font-weight: 600;
}
